body{
  background-color: white;
}

*{
  font-family: 'Josefin Sans', sans-serif;
}

.poppins{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.bold{
  font-weight: 500!important;
}

.strong{
  font-size: 23px;
  font-weight: 600;
}

.italics{
  font-weight: 400;
  font-style: italic;
}

.row{
  margin: 0!important;
}

.tan{
  color: #F0EDE6;
}

.black{
  color: #1B1919;
}

.grey{
  color: #363437;
}

.red{
  color: rgb(171, 144, 112);
}

.white{
  color: white;
}

.underline{
  text-decoration: underline;
}

.fs-14{
  font-size: 14px;
}

.fs-15{
  font-size: 15px;
}

.fs-16{
  font-size: 16px;
}

.fs-18{
  font-size: 18px;
}

.fs-20{
  font-size: 20px;
}

.fs-22{
  font-size: 22px;
}

.fs-24{
  font-size: 24px;
}

.fs-28{
  font-size: 28px;
}

.fs-32{
  font-size: 32px;
}

.main-content{
  width: 100%;
  padding: 6.5rem 7rem 3.5rem;
}

@media (max-width: 1000px){
  .main-content{
    padding: 6.5rem 5rem 3.5rem;
  }
  .testimonial-banner {
      padding: 4rem 5rem 2rem!important;
  }
}

@media (max-width: 700px){
  .main-content{
    padding: 6.5rem 4rem 3.5rem;
  }
  .testimonial-banner {
    padding: 4rem 3rem 2rem!important;
  }
  .testimonial-name {
    padding-right: 4rem!important;
  }
}

h1{
  color: rgb(108, 108, 108);
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 0rem!important;
}

p{
  color: rgb(108, 108, 108);
  font-weight: 300;
  font-size: 1.75rem;
}

h4{
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: 'Julius Sans One', sans-serif;
}

h5{
  color: white;
  font-size: 1.25rem;
  font-weight: 300;
  font-family: 'Josefin Sans', sans-serif;
}

b{
  font-weight: 400;
}

a{
  color: inherit;
}

a:hover{
  text-decoration: none;
  color: rgb(171, 144, 112);
}

.logo{
  width: 110%;
  padding: 0rem!important;
  margin: 1.25rem 0rem!important;
}

.watermark{
  background-image: url("../img/background-transparent.png");
  background-size: 100vw auto;
  background-repeat: repeat-y;
}

.watermark-testimonials{
  position: relative;
  height: max-content;
  width: 100vw;
  min-width: 100vw;
  align-items: center;
  justify-content: center;
}
.watermark-testimonials::before {
  content: "";
  background-image: url("../img/background-opaque.png");
  background-size: 103vw auto;
  background-repeat: repeat-y;
  background-position:top center;
  position: absolute;
  width: 100vw;
  top: 5rem;
  right: 0px;
  bottom: -28px;
  left: 0px;
  opacity: 0.25;
  z-index: 1;
}

/*@media (max-width: 768px){
  .logo{
    width: 110%;
    display: block;
    padding: 0rem!important;
    margin: 0rem!important;
  }
}

@media (max-width: 576px){
  .logo{
    width: 70%;
    display: block;
    margin: auto;
    padding-bottom: 2rem;
  }
}*/

.header{
  font-weight: 800!important;
  font-size: 40px;
  padding-bottom: 1.5rem;
}

.btn{
  padding: .75rem 0rem;
  border-radius: 1px;
}

.btn2{
  padding: .75rem 2rem;
  margin: auto;
  font-size: 20px!important;
  height: 100px;
  width: 95%;
  display: flex;
  align-items:center;
  justify-content:center;
}

@media (max-width: 1180px){
  .btn2{
    padding: .75rem 2rem;
    margin: 1rem auto;
    height: 125px;
    width: 100%;
  }
}
@media (max-width: 887px){
  .btn2{
    height: 160px;
    width: 100%;
  }
}
@media (max-width: 768px){
  .btn2{
    height: 75px;
    width: 75%;
  }
}
@media (max-width: 739px){
  .btn2{
    height: 100px;
    width: 75%;
  }
}
@media (max-width: 545px){
  .btn2{
    height: 125px;
    width: 90%;
  }
}
@media (max-width: 385px){
  .btn2{
    width: 100%;
    height: 150px;
  }
}

.btn-primary{
  background-color: #F0EDE6;
  color: #1B1919;
  border-color: #F0EDE6;
  font-size: 14px;
}

.btn-primary:hover{
  background-color: rgb(171, 144, 112);
  color: white;
  border-color: rgb(171, 144, 112);
}

.btn-primary:active{
  background-color: rgb(171, 144, 112)!important;
  color: white;
  border-color: rgb(171, 144, 112)!important;
}

.btn-primary:focus{
  background-color: rgb(171, 144, 112);
  color: white;
  border-color: rgb(171, 144, 112);
  box-shadow: none;
}

.btn-secondary{
  background-color: #1B1919;
  color: white;
  border-color: rgb(171, 144, 112);
  border-width: 8px;
  font-size: 14px;
}

.btn-secondary:hover{
  background-color: rgb(171, 144, 112);
  color: white;
  border-color: rgb(171, 144, 112);
}

.btn-secondary:active{
  background-color: rgb(171, 144, 112)!important;
  color: white;
  border-color: rgb(171, 144, 112)!important;
}

.btn-secondary:focus{
  background-color: rgb(171, 144, 112);
  color: white;
  border-color: rgb(171, 144, 112);
  box-shadow: none;
}

.no-padding{
  padding: 0rem!important;
}

.block-wrapper{
  background-color: #1B1919;
  padding: 3rem 0rem;
  text-align: center;
}

.block-wrapper2{
  background-color: #1B1919;
  padding: 3rem;
  text-align: center;
}

.block-title{
  padding: 2rem 0rem .5rem;
  font-size: 24px;
  line-height: 2.5rem;
}

.block-para{
  padding: 3.5rem 1.25rem;
  font-size: 20px;
  text-align: left;
}

.block-button{
  margin: 3rem auto 2.5rem;
  display:block;
  width: 13rem;
  font-size: 15px;
}

.block-images{
   background-size: cover;
   overflow:hidden;
}

.block-images-mobile2{
  width: 100%;
}

.block-images-setsize{
  height: 500px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

@media (max-width: 992px){
  .block-images-special{
    display: none!important;
  }
}

@media (max-width: 768px){
  .block-images-mobile{
    background-position: center;
  }
  .block-wrapper{
    padding: 3rem 2rem;
  }
}

@media (max-width: 576px){
  .block-images-special{
    display: flex!important;
  }
  .block-images-mobile{
    height: 400px;
    overflow: hidden;
    background-size: cover;
  }
  .block-images-mobile2{
    height: 400px;
    object-fit: cover;
    overflow: hidden;
  }
  .block-images-setsize{
    height: 400px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}

.grey-banner{
  padding-top: 2.5rem;
  background-color: rgb(124, 123, 127);
}

.gold-banner{
  padding-top: 1.75rem;
  background-color: rgb(171, 144, 112);
  z-index: -1;
  position: relative;
}

.tan-banner{
  background-color: #C7BEB7;
  padding-top: 2rem;
}

.testimonial-banner{
  padding: 4rem 7rem 2rem;
}

.testimonial-text{
  color: white!important;
  font-size: 1.5rem!important;
  font-style: italic;
}

.testimonial-name{
  color: white!important;
  text-align: right;
  padding-right: 10rem;
  font-size: 1.5rem!important;
  font-style: italic;
}

.gold-bar{
  margin-top: 0rem;
  margin-bottom: 4.5rem;
  width: 10rem;
  border-top: 2px solid rgb(171, 144, 112);
}

@media (min-width: 750px){
  .faq-bar{
    width: 26rem;
  }
}

@media (max-width: 705px){
  .faq-bar{
    width: 16rem;
  }
}

.navbar-wrapper{
  padding: 1rem 0rem .5rem;
}

.navbar-custom{
  float: right;
  font-size: 20px;
  width: 100%;
}

.nav-item{
  text-align: center;
  padding-left: 4rem;
  padding-right: 4rem;
}

@media (max-width: 1130px){
  .nav-item{
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.tab-custom{
  color: rgb(108, 108, 108)!important;
  font-weight: 300;
  padding: 0rem!important;
  text-align: center
}

.tab-custom:hover{
  color: #1B1919!important;
}

@media (max-width: 1227px){
  .tab-custom{
    padding: 0rem!important;
  }
}

@media (max-width: 1035px){
  .tab-custom{
    padding: 0rem!important;
    text-align: center;
  }
  .nav-item{
    width: 100%
  }
}

@media (max-width: 768px){
  .tab-custom{
    padding: 0rem!important;
    float: right;
    text-align: right;
  }
  .navbar-custom{
    float: right!important;
  }
  .toggle-custom:active{
    right: 0;
  }
  .nav-item{
    width: 100%
  }
}

.notice-wrapper{
  padding: 2.5rem 1rem 1rem;
  text-align: center;
  width: 100%;
}

.testimonial-left{
  text-align: left;
  font-style: italic;
  line-height: 2rem;
}

.testimonial-right{
  text-align: right;
  font-style: italic;
  padding-bottom: 2.25rem;
}

.profile-block-left{
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  background: #1B1919;
  padding: 1rem 2.5rem;
}

.profile-block-right{
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  background: #1B1919;
  padding: 1rem 2.5rem;
}

.footer{
  padding: 5rem 0rem;
  background-color: rgb(124, 123, 127);
  width: 100%;
}

.fork-wrapper{
  width: 35%;
  text-align: center;
  overflow: hidden;
}

.fork-banner{
   width: 80%;
   padding: auto;
 }

.fork-desktop{
  display: inline;
}

.fork-tablet{
  display: none;
}

.fork-mobile{
  display: none;
}

.footer-contact-wrapper{
  width: 30%;
}

@media screen and (max-width: 768px){
  .fork-wrapper{
    width: 30%;
  }

  .footer-contact-wrapper{
    width: 40%;
  }

  .fork-desktop{
    display: none;
  }

  .fork-tablet{
    display: inline;
  }
}

@media screen and (max-width: 577px){
  .fork-wrapper{
    width: 20%;
  }

  .footer-contact-wrapper{
    width: 60%;
  }

  .fork-tablet{
    display: none;
  }

  .fork-mobile{
    display: inline;
    width: 40%;
  }
}

@media screen and (max-width: 480px){
  .fork-wrapper{
    width: 0%;
  }

  .footer-contact-wrapper{
    width: 100%;
  }
}

.footer-contact{
  text-align: center!important;
  padding: 0rem 2rem;
}

.social-media-wrapper{
  text-align: left;
  width: max-content;
  margin: auto;
}

.social-media-link{
  color: white;
}

.social-media-link:hover{
  color: rgb(171, 144, 112);
  background-color: #none;
}

.social-media-icons{
  display: inline-block;
}

.social-media-handles{
  display: inline-block;
  padding-left: 5px;
  margin: 0px;
}

#loader-wrapper{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #F0EDE6;
  z-index: 1000;
  text-align: center;
}

#loader-img{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
  height: 20%;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.loaded #loader-wrapper {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);

        -webkit-transition: all 0.3s 0.6s ease-out;
                transition: all 0.3s 0.6s ease-out;
}


.margin-left{
  margin-left: 4rem;
}

.margin-right{
  margin-right: 4rem;
}

@media screen and (max-width: 768px){
  .margin-left{
    margin-left: 0rem;
  }
  .margin-right{
    margin-right: 0rem;
  }
}
