* {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.nav h1, h2, h3, h4, h5, h6, p{
  color:white;
}

.row{
  max-width:100vw;
  margin: 0px;
}

.side-navbar{
  padding: 2rem 0rem 2rem 0rem!important;
  min-height: 100vh;
}

.side-header{
  padding:2rem 0rem 5rem;
}

.nav-logo{
  width: 80%;
  height: auto;
}

.nav-spacing{
  line-height:3rem;
}

.nav-tab{
  padding:5px 20px;
  width: 100%;
}

.nav-tab:hover{
  background:#e5ca66;
}

.nav-tab:hover>.submenu{
  display: block;
}

.submenu:hover{
  background-color: #e5ca66;
}

.nav-tab a{
  color:white;
  font-size:16px;
  display:block;
}

.nav-tab a:hover{
  text-decoration: none;
  color:white!important;
}

.nav-tab a:focus{
  outline: none;
  text-decoration: none;
}

.nav-active{
  background-color:#e5ca66;
}

.submenu a{
  margin-left:20px;
  display:block;
}

.bg-black{
  background-color: black;
}

.nav-footer{
  position: absolute;
  bottom: 10px;
  padding: 0px 10px;
  width: 100%
}

.footer-text{
  font-size:12px;
  font-weight: 100;
}

.header-btn-collapse-nav{
  display: none;
}

.justify-content-end{
  display: flex;
}

.collapse-hidden{
  display:none;
}

@media only screen and (min-width: 991px) {
  #navbar-collapse{
    display:block;
  }
}

@media only screen and (max-width: 991px) {
  .side-navbar{
    height: 5rem;
    min-height: 5rem;
    padding: .75rem 0rem .5rem 0rem!important;
  }
  .side-header{
    padding: 0;
  }
  .nav-logo{
    width: auto;
    height: 60px;
  }
  .collapse-hidden{
    display:block;
    padding-top:.75rem;
  }
  .header-btn-collapse-nav{
    outline: 0;
    display: block;
    position: relative;
    z-index: 1;
    background-color: #e5ca66;
    right: 0;
    margin-right: 1.5rem;
  }
  #navbar-collapse{
    background-color: black;
    z-index: 10;
    position:relative;
  }
  .nav-footer{
    display:none;
  }
}
